<!DOCTYPE html><html><head><title>QR</title></head>
<body style='background:black;color:white;text-align:center'>
<h1>📲 Scan the QR Code</h1>
<img src="/qr-image" width="300"/><br/><p>Open WhatsApp & scan</p>
</body></html>
